* {
	box-sizing: border-box;
}
$text-color: #ffffff;
$text-padding: 2rem;
$second-text-color: #48555b;
$button-color: #00a4e5;

:root {
	scroll-behavior: smooth;
}
body,
html {
	font-family: OpenSans, sans-serif;
	font-size: 18px;
}

// Header

header {
	background-image: url(../image/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
}

.header-container {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	h1 {
		font-family: BebasNeueBold;
		font-size: 4rem;
		line-height: 70.31px;
		letter-spacing: 5.709374904632568px;
		text-align: center;
		color: $text-color;
		padding: $text-padding;
		@media (max-width: 700px) {
			font-size: 2rem;
		}
	}
	a,
	p {
		color: $text-color;
		text-align: center;
		text-decoration: none;
		padding: 1rem;
		line-height: 2rem;
		&:hover {
			color: darken($color: $text-color, $amount: 20%);
		}
	}
}

// navigation
nav {
	width: 80%;
	margin: 0 auto;
	display: flex;
	padding: $text-padding;
	justify-content: space-between;
	border-bottom: 1px solid #e6e6e6;
	@media (max-width: 700px) {
		flex-direction: column;
		width: 100%;
	}
}
.logo {
	padding: 1rem;
	@media (max-width: 700px) {
		align-self: center;
	}
}
ul {
	display: flex;
	@media (max-width: 700px) {
		flex-direction: column;
		align-self: center;
	}
	a {
		text-decoration: none;
		color: $second-text-color;
		&:hover {
			color: $button-color;
		}
	}
	li {
		padding: 1rem;
	}
}

// Main

// 1-section

Main {
	h4 {
		text-align: center;
		color: $second-text-color;
		margin: 3rem 0;

		&::after {
			content: "";
			display: block;
			width: 50px;
			height: 2px;
			background-color: $button-color;
			margin: 15px auto 0;
		}
	}
	.content {
		width: 80%;
		margin: 0 auto;
		padding: $text-padding;
		display: grid;
		grid-template-columns: 40% repeat(3, 19%);
		grid-template-rows: 125px;
		gap: 1rem;
		@media (max-width: 1500px) {
			display: flex;
			flex-direction: column;
		}
		@media (max-width: 700px) {
			width: 100%;
		}
	}
	.text {
		padding: $text-padding;
		grid-row: 1/4;
		@media (max-width: 700px) {
			padding: 0.5rem;
		}
	}
	p {
		padding: $text-padding;
		color: $second-text-color;
		line-height: 2.5rem;
		text-align: left;
	}
	.main-text {
		font-size: 2rem;
		font-weight: bold;
		span {
			color: $button-color;
		}
		@media (max-width: 700px) {
			font-size: 1rem;
		}
	}
	.card {
		min-width: 10rem;
		grid-row: 2/4;
		padding: $text-padding;
		line-height: 2.5rem;
		background-repeat: no-repeat;
		background-size: cover;
		color: $text-color;
		font-weight: bold;
		font-size: 2rem;
		text-align: left;
		&:hover {
			color: darken($color: $text-color, $amount: 20%);
		}
	}
	.plan {
		@extend .card;
		background-image: url(../image/Plan.png);
	}
	.manage {
		@extend .card;
		background-image: url(../image/Manage.png);
	}
	.build {
		@extend .card;
		background-image: url(../image/Build.png);
	}

	// 2-section

	.service {
		@extend .content;
		display: grid;
		grid-template-columns: 30% repeat(4, 15%);
		grid-template-rows: repeat(2, auto);
		justify-content: space-around;
		align-items: baseline;
		@media (max-width: 1000px) {
			display: flex;
		}

		h4 {
			font-weight: bold;
			text-align: left;
			padding: $text-padding;
			letter-spacing: 2.3px;
			margin: 0;
			&::after {
				margin: 15px 0 0;
			}
		}
		.button {
			align-self: center;
			text-align: right;
		}
		.blue-button {
			width: 150px;
			height: 40px;
			background-color: $button-color;
			text-align: center;
			color: $text-color;
			font-weight: bold;
			border: none;
			margin-bottom: $text-padding;
			&:hover {
				background-color: lighten($color: $button-color, $amount: 15%);
			}
		}
	}
	.second-text {
		grid-column: 2/5;
	}
	.service-card {
		height: 100%;
		border: 1px solid #e6e6e6;
		padding: $text-padding;
		h5 {
			color: $second-text-color;
			font-family: OpenSans;
			font-weight: bold;
			line-height: 24px;
			text-align: left;
			padding: 2rem 0;
		}
		p {
			text-align: left;
			padding: 2rem 0;
		}
	}
	.structure {
		grid-column: 2/4;
	}
	.factory {
		grid-column: 4/6;
	}
}

// section-GetInTouch

.contact {
	@extend header;
	background-image: url(../image/GetInTouch.png);
	min-height: 100vh;
	background-size: cover;

	.getInTouch {
		text-align: center;
		padding-top: 10rem;
		@media (max-width: 700px) {
			padding: 0;
		}
		h2 {
			font-size: 2rem;
			line-height: 2rem;
			font-weight: bold;
			color: $second-text-color;

			margin: 0 auto;
			padding: $text-padding;
		}
		button {
			width: 150px;
			height: 40px;
			background-color: $button-color;
			text-align: center;
			font-weight: bold;
			color: $text-color;
			margin-top: 1rem;
			border: none;
			&:hover {
				background-color: lighten($color: $button-color, $amount: 15%);
			}
		}
	}
}

// section-SignUp

.sign-up {
	background-color: #171819;
	div {
		text-align: center;
		padding: 2rem;
		form {
			padding: $text-padding;
		}
		label {
			font-size: 1.5rem;
			letter-spacing: 0.1rem;
			color: $text-color;
			font-weight: bold;
			margin-right: 3rem;
			@media (max-width: 700px) {
				font-size: 1rem;
				margin: 0;
			}
		}
		input {
			font-size: 1rem;
			padding: 0.5rem;
			border: none;
			@media (max-width: 700px) {
				margin-top: 1rem;
			}
		}
	}
	button {
		width: 150px;
		height: 40px;
		background-color: $button-color;
		text-align: center;
		font-weight: bold;
		color: $text-color;
		border: none;
		&:hover {
			background-color: lighten($color: $button-color, $amount: 15%);
		}
		@media (max-width: 1000px) {
			margin-top: 2rem;
		}
	}
}

// Footer

footer {
	background-color: #141a20;
	.footer-container {
		display: grid;
		grid-template-columns: 30% repeat(3, auto);
		column-gap: 2rem;
		width: 80%;
		margin: 0 auto;
		padding: 2rem 0;
		@media (max-width: 1500px) {
			grid-template-columns: 25% repeat(2, auto);
			column-gap: 1rem;
		}
		h4,
		p {
			color: $text-color;
			line-height: 2rem;
		}
		div {
			padding: 1rem;
		}
		.company img {
			margin: 2rem 0;
		}
		.links {
			display: grid;
			grid-template-columns: repeat(3, auto);
			grid-template-rows: 10% auto;
			column-gap: 1rem;
			justify-content: space-around;
			@media (max-width: 1500px) {
				display: grid;
			}
			@media (max-width: 700px) {
				display: flex;
				flex-direction: column;
			}
			h4 {
				grid-column: 1/4;
				padding: 0 1rem;
			}
		}
		.contacts {
			address {
				color: $text-color;

				margin: 1rem 0;
				line-height: 2rem;
			}
			a {
				text-decoration: none;
				color: $text-color;
				line-height: 3rem;
			}
		}
		.socials {
			display: inline-flex;

			i {
				color: $text-color;
				&:hover {
					color: darken($text-color, $amount: 50%);
				}
			}
		}
		@media (max-width: 1000px) {
			display: flex;
			flex-direction: column;
		}
		@media (max-width: 700px) {
			width: 100%;
		}
	}
	.copyright {
		margin: 0 auto;
		p {
			color: $text-color;
			padding: $text-padding;
			background-color: #171819;
			text-align: center;
		}
	}
}
